.btn {
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    /* margin-left: 15px; */
    background-color: orange;
}
.btn:hover{
    cursor: pointer;
    background-color: darksalmon;
}

.form {
    /* display: flex; */
    /* justify-content: center ; */
    align-items: center;  
outline: 1px black;
}

.input{

    display: block;
    padding: 5px 10px;
}

.label {
    display: block;
margin-bottom: 15px;
}

.label > span {
    margin-right: 10px;
}