.item {
  margin-left: 10px;
}

.itemName {
  font-weight: 700;
}

.itemPhoneNumber {
  display: inline-block;
  margin-left: 50px;

  color: var(--secondary-text-color);
  font-weight: 700;
}

.item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
}

.btnList {
  justify-content: space-around;
}

.btn {
  padding: 5px;
  outline: none;
  border-radius: 4px;
  border: solid 2px var(--primary-color);
  background-color: var(--primary-color-text);
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    border: 2px solid transparent;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
  }
}

.chosenIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
}
