@import "../../Sass/utility/variables";

.header {
  background-color: var(--primary-color-dark);
}
.list {
  display: flex;
  list-style: none;
  padding: 0;
  padding: 10px;
  color: var(--primary-color-text);
}
.item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.link {
  display: inline-block;
  padding: 10px;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-color-text);
  &:hover {
    color: var(--primary-text-color);
  }
}

a.link.active {
  color: var(--primary-text-color);
  background-color: white;
  border-radius: 5px;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;

  //   width: 100%;
  //   height: 6px;

  //   background-color: $primary-text-color;
  //   border-radius: 4px;
  //   display: block;
  // z-index: 2;
  // }
}
