@import "../../Sass/utility/variables";

.wrapper {
  justify-content: space-between;
}

.header {
  background-color: var(--primary-color-dark);
}
.list {
  display: flex;
  list-style: none;
  padding: 0;
  padding: 10px;
  color: var(--primary-color-text);
}
.item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.link {
  display: inline-block;
  padding: 10px;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-color-text);
  &:hover {
    color: var(--primary-text-color);
  }
}

a.link.active {
  color: var(--primary-text-color);
  background-color: white;
  border-radius: 5px;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;

  //   width: 100%;
  //   height: 6px;

  //   background-color: $primary-text-color;
  //   border-radius: 4px;
  //   display: block;
  // z-index: 2;
  // }
}

.btnLogin,
.btnLogout,
.btnReg {
  text-decoration: none;
  padding: 5px;
  outline: none;
  border-radius: 4px;
  border: solid 2px var(--primary-color);
  background-color: var(--primary-color-text);
  color: var(--primary-text-color);

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    border: 2px solid transparent;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
  }
}

body .btnLogin,
body .btnLogout {
  background-color: #212121;
  color: white;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6);
  border-color: #212121;

  transform: scale(1);
  transition: transform 1300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 1300ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    transform: scale(1.1);
    background-color: white;
    color: #212121;
  }
}

body .btnReg {
  margin-left: 10px;
  border-color: white;

  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6);

  transform: scale(1);
  transition: transform 1300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 1300ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    transform: scale(1.1);
    background-color: #212121;
    color: white;
  }
}

.user {
  margin-right: 10px;
}

.icon {
  display: block;
  width: 40px;
  max-height: 100%;
  margin-right: 10px;
}
