body {
  margin: 0;

  font-family: "Comfortaa", sans-serif;
  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .react-datepicker__input-container,
body .react-datepicker-wrapper {
  display: block;
}
