:root {
  --primary-color-dark: #e55d34;
  --primary-color: #f85a2a;
  --primary-color-light: #ffccbc;
  --primary-color-text: #ffffff;
  --accent-color: #607d8b;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #f3efef;
}

// $main-text-color: #233d4d;
// #212121
$primary-color-dark: #e64a19;
// $primary-color: #f85a2a;
$primary-color: #607d8b;
$primary-color-light: #ffccbc;
$primary-color-text: #ffffff;
$accent-color: #607d8b;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #f3efef;
