.title {
  display: inline-block;
}

.list {
  list-style: none;
  padding-left: 0;
}

.item {
  position: relative;
  padding: 0 10px;
  margin-top: 15px;
}
.text {
  margin: 0;
}

.title::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--primary-color);
}

.time {
  position: absolute;
  padding: 3px;
  top: 10px;
  right: 10px;
  background-color: var(--divider-color);
  border-radius: 5px;
}

.btnList {
  display: flex;
  justify-content: flex-end;
}

.btn {
  //   display: block;
  margin-top: 10px;
}

.changeBtn {
  margin-top: 10px;
  margin-right: 15px;
}
