.btn {
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: var(--divider-color);
  }
}
