/* .phoneNumber{
    margin-left: 15px;
} */

.listWrapper {
  padding: 15px;
}

.list {
  list-style: none;
}

.itemDesc {
  text-decoration: underline;
  display: inline-block;
}
.itemValue {
  font-style: italic;
  margin: 0px;
  display: inline-block;
  margin-left: 15px;
  padding: 5px 10px;
  background-color: orange;
  border-radius: 3px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 2vw;
  margin: 0 auto;
}

.item {
  max-width: 100%;
}

.itemWrapper {
  position: relative;
  padding: 5px;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  &:hover,
  &:focus {
    box-shadow: -10px 0px 13px -7px var(--primary-color),
      10px 0px 13px -7px var(--primary-color),
      5px 5px 10px -14px var(--primary-color);
  }
}
